@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
/* 
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; 
*/


/* #region mobile first - Standard Styling */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 1200px) { .container { max-width: 1120px; } }

.btn {
    display: inline-flex;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem, 1.75rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}
.btn:hover {
    color: #25E6C8;
}
/* #endregion */

/* #region Top menu*/
#top-menu {
    display: none;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
@media (min-width: 768px) { #top-menu { display: block; }}

#top-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#top-menu .container .working-hours {
    flex: 2;
}

#top-menu .container .working-hours i {
    margin-right: 0.3rem;
    color: #2BAAEC;
    font-size: 1.2em;
}

#top-menu .container .social-media {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}

.social-media a {
    color: #2BAAEC;
    text-decoration: none;
}
.social-media a:hover {
    color: #25E6C8;
}

#top-menu .container .social-media li {
    margin-left: 1.3rem;
}
/* #endregion */

/* #region Main menu */
#main-menu {
    font-family: 'Roboto Slab', serif; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (min-width: 768px) { #main-menu { padding-top: 2rem; padding-bottom: 2rem;} }


#main-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-menu .container .logo {
    height: 50px;
}
@media (min-width: 768px) { #main-menu .container .logo { height: 60px; } }


#main-menu .container .menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

#main-menu .container .menu ul {
    display: none;
    list-style: none;
    margin: 0;
}
@media (min-width: 992px) { #main-menu .container .menu ul { display: flex; } }


#main-menu .container .menu ul li {
    margin-left: 1.3rem;
}

#main-menu .container .menu ul li a {
    text-decoration: none;
    color: #363636;
}

#main-menu .container .menu button {
    font-size: 2.0rem;
    padding: 0;
}
@media (min-width: 992px) { #main-menu .container .menu button { display: none; } }
/* #endregion */

/* #region Showcase */

#showcase {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    background-color: #DEDEDE;
    align-items: center;
}
@media (max-width: 425px) { #showcase {padding: 20px;} }

.placeholder {
    margin-top: 5px;
    margin-right: 30px;
    height: 10rem;
}
@media (min-width:768px) { .placeholder {height: 20rem; margin-top: 20px;
   margin-left: 40px; margin-right: 60px;} }
@media (max-width: 425px) { .placeholder {display: none;} }
@media (min-width: 1024px) { .placeholder {height: 35rem; margin-top: 20px;
    margin-right: 120px;} }

.head-text p {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 1.2;
    margin: 0;
}
@media (min-width: 768px) { .head-text p {font-size: 30px;} }
@media (min-width: 1024px) { .head-text p {font-size: 45px;} }


.sub-text {
    font-size: 6px;
    margin: 10px 0;
}
@media (min-width:768px) { .sub-text {font-size: 12px; margin: 20px 0;} }
@media (min-width:1024px) { .sub-text {font-size: 14px; margin: 40px 0;} }

#showcase .btn {
    text-decoration: none;
    background-color: #25E6C8;
    border-radius: 2px;
    color: white;
    padding: 0.4rem 1.1rem;
    font-size: 7px;
    font-weight: bold;
}
@media (min-width:768px) { #showcase .btn {padding: 0.8rem 3.1rem; border-radius: 8px; font-size: 14px;} }

#showcase .btn:hover {
    background-color: #2BAAEC;
    border-radius: 2px;
}
@media (min-width:768px) { #showcase .btn:hover {border-radius: 8px;} }
/* #endregion */

/* #region About us */
#about-us {
    display: flex;
    justify-content: center;
}

.head p {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    margin: 0;
}

.body-text {
    width: 690px;
    height: 192px;
    font-size: 18px;
}

.bottom {
    display: flex;
}

.numbers {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    color: #2BAAEC;
    margin: 20px 10rem 0 0;
}

.text {
    margin: 0;
}

.image-holder {
    height: 724px;
    margin-top: 90px;
}
/* #endregion */

/* #region Services */
#main-grid-container {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    padding-top: 150px;
    padding-bottom: 150px;
}

#services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.service-title {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.service-box {
    width: 450px;
    height: 436px;
    background-color: white;
    text-align: center;
    padding-top: 70px;
    border-radius: 8px;
}

.service-box:hover {
    box-shadow: 0 10px 30px lightgray;
}

.service-box p {
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    color: #363636;
}
/* #endregion */

/* #region Appointment */
#appointment {
    background-color: #2BAAEC;
    opacity: 0.8;
}

.appointment-d-flex {
    display: flex;
    justify-content: space-evenly;
    height: 220px;
}

#appointment p {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

#appointment button {
    font-size: 18px;
    font-weight: bold;
    color: #2BAAEC;
    background-color: #FFFFFF;
    padding: 18px 56px;
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
    border: none;
    border-radius: 8px;
}

#appointment button:hover {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #2BAAEC;
    padding: 18px 56px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -4px;
    height: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}
/* #endregion */

#footer {
    background-color: #2BAAEC;
    color: #F3FBFF;
    font-size: 4px;
    text-align: center;
    padding: 7px 0;
}
@media (min-width: 768px) { #footer {font-size: 16px; padding: 28.5px 0;} }

#footer p {
    opacity: 0.6;
    margin: 0;
}